<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active underline">Home</a>
            <a class="nav-item nav-link" routerLink="/active" routerLinkActive="active">Active</a>
            <a class="nav-item nav-link" routerLink="/deleted" routerLinkActive="active">Deleted</a>
            <a class="nav-item nav-link" routerLink="/manage" routerLinkActive="active">Manage</a>
        </div>
    </div>
</nav>