section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

article{
  flex-direction: column;
  margin-inline: auto;
  padding: 20px;
}

article img{
  width: 100%;
  height: 100%;
}
