form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.8rem;
  border: 0.1rem #c0c0c0 solid;
}

.no-margin {
  margin-right: 0;
}

.summary {
  color: #493a3a;
  text-align: center;
}
